/*Declaring various font families*/
@font-face {
    font-family: "creepy";
    src: url(fonts/creepy.ttf);
}
@font-face {
    font-family: "handwrite";
    src: url(fonts/handwrite.ttf);
}
@font-face {
    font-family: "normaltext";
    src: url(fonts/normaltext.ttf);
}
@font-face {
    font-family: "normaltitle";
    src: url(fonts/normaltitle.ttf);
}
@font-face {
    font-family: "nostalgia";
    src: url(fonts/nostalgia.ttf);
}
@font-face {
    font-family: "nostyle";
    src: url(fonts/nostyle.ttf);
}
@font-face {
    font-family: "randomness";
    src: url(fonts/why.ttf);
}

/*General styling*/

html{
    height: 100%;
}

p, h2, h3, button, li, td{
    font-family: "normaltext";
    font-weight: 400;
    color: white;
    margin: 1em 0em 1em 0em;
}

body{
    background-color: black;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

p{
    text-align: justify;
    font-size: 1em;
    line-height: 1.6;
}

h1{
    font-size: 4em;
    font-family: "normaltitle";
    text-align: center;
    color: #eeeeee;
    margin: 1.25em 0em 1.25em 0em;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

h3{
    font-size: 1.17em;
}

a{
    color: inherit;
    text-decoration: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0% 5% 2% 5%;
}

nav p {
    font-size: 1em;
    text-align: center;
    font-family: "normaltitle";
    width: 33%;
}

nav p a{
    text-decoration: none !important;
}

p a{
    text-decoration: underline;
}

img{
    max-width: 100%;
}

textarea{
    max-height: 2em;
    max-width: 30%;
    height: 1.6em;
    width: 30%;
    display: block;
    font-size: 1.5em;
}

button{
    background: transparent;
    color: white;
}

footer{
    max-width: 100%;
}

footer p{
    text-align: center !important;
}

i{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 0.2em 0.5em 0.2em 0.5em;
}

#c{
    text-decoration: underline !important;
    font-weight: 700;
}

/*Text font playing*/

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    flex-wrap: wrap;
}

li{
    min-width: 30%;
    text-align: center;
}

#creepy{
    font-family: "creepy";
}

#hand{
    font-family: "handwrite";
}

#normal{
    font-family: "normaltext";
}

#no{
    font-family: "nostyle";
}

#nostalgia{
    font-family: "nostalgia";
    word-wrap: normal;
}

#why{
    font-family: "normaltext";
}

/*Grid styling*/

body{
    display: grid;
    grid-template-rows: 38% 60% 2%;
    grid-template-columns: 100%;
    margin: 0px 2% 0px 2%;
}

header{
    grid-row: 1 / 2;
}

main{
    grid-row: 2 / 3;
}

footer{
    grid-row: 3 / 4;
}

/*Probably will not stay as a flex when jquery is added.*/
main{
    display: flex;
    flex-flow: column;
}

#index{
    justify-content: flex-start;
}

.hist{
    min-width: 90%;
}

.typ{
    min-width: 90%;
}

.typ img{
    min-width: 100%;
}

.mak{
    min-width: 90%;
}

#manytypes{
    width: 75vw;
    align-self: center;
}

#tada{
    margin: 0.2em 36% 0em;
}

#printer{
    display: none;
}

@media only print{
    #printer{
        display: inherit;
    }
}

@media only screen and (min-width: 600px){
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .hist{
        max-width: 40%;
        min-width: 40%;
    }

    .typ{
        min-width: 40%;
        max-width: 40%;
    }

    #manytypes{
        width: 60vw;
        margin: 0em 10%;
    }

    .mak{
        max-width: 40%;
        min-width: 40%;
    }

    #tada{
        margin: 0.2em 36% 0em;
    }

    nav p{
        max-width: 19%;
        width: inherit;
    }
}

@media only screen and (min-width: 1000px){
    li{
        min-width: 15%;
    }
}

@media only screen and (min-width: 1200px){
    main{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .hist{
        max-width: 26%;
        min-width: 26%;
    }

    .typ{
        min-width: 26%;
        max-width: 26%;
    }

    #manytypes{
        width: 30vw;
        margin: 0.2em 30% 0em 30%;
    }

    .mak{
        min-width: 26%;
        max-width: 26%;
    }

    #tada{
        margin: 0.2em 36% 0em;
    }
}

.from{
    flex-direction: column;
}

.from button{
    max-width: 20%;
}

#comments{
    max-width: 40%;
    max-height: 10%;
    height: 3em !important;
    width: 40%;
}