/*Declaring various font families*/
@font-face {
    font-family: "creepy";
    src: url(fonts/creepy.ttf);
}
@font-face {
    font-family: "handwrite";
    src: url(fonts/handwrite.ttf);
}
@font-face {
    font-family: "normaltext";
    src: url(fonts/normaltext.ttf);
}
@font-face {
    font-family: "normaltitle";
    src: url(fonts/normaltitle.ttf);
}
@font-face {
    font-family: "nostalgia";
    src: url(fonts/nostalgia.ttf);
}
@font-face {
    font-family: "nostyle";
    src: url(fonts/nostyle.ttf);
}
@font-face {
    font-family: "why";
    src: url(fonts/why.ttf);
}

/*General styling*/

html{
    height: 100%;
}

p, h2, h3, button, li, td{
    font-family: "normaltext";
    font-weight: 400;
    color: white;
}

body{
    background-color: black;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
}

p{
    text-align: justify;
    font-size: 1em;
}

h1{
    font-size: 4em;
    font-family: "normaltitle";
    text-align: center;
    color: #eeeeee;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: inherit;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 2% 5%;
}

nav p {
    font-size: 1em;
    font-family: "normaltitle";
}

nav p a{
    text-decoration: none !important;
}

p a{
    text-decoration: underline;
}

img{
    max-width: 100%;
}

textarea{
    max-height: 2em;
    max-width: 30%;
    height: 1.6em;
    width: 30%;
    display: block;
    font-size: 1.5em;
}

button{
    background: transparent;
    color: white;
}

footer{
    max-width: 90%;
}

footer p{
    text-align: center !important;
}

i{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 0.2em 0.5em 0.2em 0.5em;
}

/*Grid styling*/

body{
    display: grid;
    grid-template-rows: 38% 60% 2%;
    grid-template-columns: 100%;
    margin: 0px 2% 0px 2%;
}

header{
    grid-row: 1 / 2;
}

main{
    grid-row: 2 / 3;
}

footer{
    grid-row: 3 / 4;
}

/*Probably will not stay as a flex when jquery is added.*/

main{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hist{
    max-width: 27%;
    margin: 0.2em 6% 0em 0em;
}

.typ{
    max-width: 22%;
    margin: 0.2em 3% 0em 0em;
}

.mak{
    max-width: 29%;
    margin: 0.2em 3% 0em 0em;
}

#manytypes{
    margin: 0.2em 40% 0em 40%;
}

#tada{
    margin: 0.2em 36% 0em;
}

.from{
    flex-direction: column;
}

.from button{
    max-width: 20%;
}

#comments{
    max-width: 40%;
    max-height: 10%;
    height: 4em !important;
    width: 40%;
}