/*Declaring various font families*/
@font-face {
    font-family: "creepy";
    src: url(fonts/creepy.ttf);
}
@font-face {
    font-family: "handwrite";
    src: url(fonts/handwrite.ttf);
}
@font-face {
    font-family: "normaltext";
    src: url(fonts/normaltext.ttf);
}
@font-face {
    font-family: "normaltitle";
    src: url(fonts/normaltitle.ttf);
}
@font-face {
    font-family: "nostalgia";
    src: url(fonts/nostalgia.ttf);
}
@font-face {
    font-family: "nostyle";
    src: url(fonts/nostyle.ttf);
}
@font-face {
    font-family: "why";
    src: url(fonts/why.ttf);
}

/*General styling*/

p, h2, h3, button, li, td{
    font-family: "normaltext";
    font-weight: 400;
    color: white;
}

body{
    background-color: black;
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

/*#bgim{
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}*/

p{
    text-align: justify;
    font-size: 1em;
}

h1{
    font-size: 4em;
    font-family: "normaltitle";
    text-align: center;
    color: #eeeeee;
}

h2{
    font-size: 1.5em;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: inherit;
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 2% 5%;
}

nav p {
    font-size: 1em;
    font-family: "normaltitle";
}

.inlineLink {
    text-decoration: underline;
}
